.website-logo{
    width: 250px;
    height: 40px;
}

.nav-bg-color{
    background-color: rgba(252, 246, 236, 0.897);

}

.header-bg-color{
    background-color: rgba(252, 246, 236, 0.897);
}

.anchor-font-weight{
    font-weight: bold;
}

.banner-description h1{
    font-size: 68px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: -3px;
}

.buy-now{
    background-color: rgb(164, 188, 70);
    border-radius: 10px;
    border: none;
    color: white;
}

.banner-image img{
    width: 100%;
}

#coloring-head{
    color: orange;
}


.woman-jacket h1{
    letter-spacing: -2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;

}

.card-item{
    border: none;
    border-radius: 20px;
    box-shadow: 7px 7px 5px #eee;
}

.card-item h5{
    font-weight: bold;
}

.card-item img{
    border-radius: 20px;
    width: 100%;
    height: 400px;
}

.footer-item{
    border: none;

}

.footer-item h3{
    color: orange;
}